
.benefit-header{
    color: white;
    font-size: 31px;
    padding-top: 70px;
}


@media screen and (max-width:940px) {

    .benefit-header{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        /* or 140% */
        max-width: 80%;
        margin: 0 auto;
        text-align: center;
    }
   
    
}











